In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
print(os.listdir('../input'))

['.ipynb_checkpoints', 'Cancer.csv', 'Cancer.ipynb', 'Cancer_Occurrence.csv', 'State.csv']

In [4]:
df1 = pd.read_csv('../input/Cancer.csv')
df1.head()

      Id                 Name                 Category
0  20010                  Lip  Oral Cavity and Pharynx
1  20020               Tongue  Oral Cavity and Pharynx
2  20030       Salivary Gland  Oral Cavity and Pharynx
3  20040       Floor of Mouth  Oral Cavity and Pharynx
4  20050  Gum and Other Mouth  Oral Cavity and Pharynx

In [9]:
df1.columns = ['Cancer_id', 'Name', 'Category']

In [10]:
df1.columns

Index(['Cancer_id', 'Name', 'Category'], dtype='object')

In [5]:
df2 = pd.read_csv('../input/Cancer_Occurrence.csv')
df2.head()

   Cancer_id State_name                         Race_name  Count
0      20010    Alabama  American Indian or Alaska Native      0
1      20010    Alabama         Asian or Pacific Islander      0
2      20010    Alabama                             White     55
3      20010    Alabama  Other Races and Unknown combined      0
4      20010     Alaska  American Indian or Alaska Native      0

In [6]:
df3 = pd.read_csv('../input/State.csv')
df3.head()

,Name,Percentage population below poverty,Percentage population insured,Population,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Alabama,18.4,89.2,4874747.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,10.1,84.5,739795.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona,17.7,88.1,7016270.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas,18.8,90.6,3004279.0,NaN,NaN,NaN,NaN,NaN,NaN
4,California,15.8,91.6,39536653.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df3.columns = ['State_name', 'Percentage population below poverty',
       'Percentage population insured', 'Population', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']

In [16]:
df3.columns

Index(['State_name', 'Percentage population below poverty',
       'Percentage population insured', 'Population', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [11]:
merged_data = df1.merge(df2,on=["Cancer_id"])
merged_data.head()

,Cancer_id,Name,Category,State_name,Race_name,Count
0,20010,Lip,Oral Cavity and Pharynx,Alabama,American Indian or Alaska Native,0
1,20010,Lip,Oral Cavity and Pharynx,Alabama,Asian or Pacific Islander,0
2,20010,Lip,Oral Cavity and Pharynx,Alabama,White,55
3,20010,Lip,Oral Cavity and Pharynx,Alabama,Other Races and Unknown combined,0
4,20010,Lip,Oral Cavity and Pharynx,Alaska,American Indian or Alaska Native,0

In [17]:
Cancer = merged_data.merge(df3, on=["State_name"])
Cancer.head()

,Cancer_id,Name,Category,State_name,Race_name,Count,Percentage population below poverty,Percentage population insured,Population,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,20010,Lip,Oral Cavity and Pharynx,Alabama,American Indian or Alaska Native,0,18.4,89.2,4874747.0,NaN,NaN,NaN,NaN,NaN,NaN
1,20010,Lip,Oral Cavity and Pharynx,Alabama,Asian or Pacific Islander,0,18.4,89.2,4874747.0,NaN,NaN,NaN,NaN,NaN,NaN
2,20010,Lip,Oral Cavity and Pharynx,Alabama,White,55,18.4,89.2,4874747.0,NaN,NaN,NaN,NaN,NaN,NaN
3,20010,Lip,Oral Cavity and Pharynx,Alabama,Other Races and Unknown combined,0,18.4,89.2,4874747.0,NaN,NaN,NaN,NaN,NaN,NaN
4,20020,Tongue,Oral Cavity and Pharynx,Alabama,American Indian or Alaska Native,0,18.4,89.2,4874747.0,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
Cancer.drop(['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'], axis=1, inplace=True)

In [19]:
Cancer.head()

,Cancer_id,Name,Category,State_name,Race_name,Count,Percentage population below poverty,Percentage population insured,Population
0,20010,Lip,Oral Cavity and Pharynx,Alabama,American Indian or Alaska Native,0,18.4,89.2,4874747.0
1,20010,Lip,Oral Cavity and Pharynx,Alabama,Asian or Pacific Islander,0,18.4,89.2,4874747.0
2,20010,Lip,Oral Cavity and Pharynx,Alabama,White,55,18.4,89.2,4874747.0
3,20010,Lip,Oral Cavity and Pharynx,Alabama,Other Races and Unknown combined,0,18.4,89.2,4874747.0
4,20020,Tongue,Oral Cavity and Pharynx,Alabama,American Indian or Alaska Native,0,18.4,89.2,4874747.0