In [5]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [6]:
print(os.listdir('../input'))

['.ipynb_checkpoints', 'Cancer Alison_Data Wrangling 1.ipynb', 'Cancer Alison_Data Wrangling 2.ipynb', 'Cancer.csv', 'Cancer_Occurrence.csv', 'State.csv']

In [7]:
df1 = pd.read_csv('../input/Cancer.csv')
df1.head()

      Id                 Name                 Category
0  20010                  Lip  Oral Cavity and Pharynx
1  20020               Tongue  Oral Cavity and Pharynx
2  20030       Salivary Gland  Oral Cavity and Pharynx
3  20040       Floor of Mouth  Oral Cavity and Pharynx
4  20050  Gum and Other Mouth  Oral Cavity and Pharynx

In [8]:
df1.columns = ['Cancer_id', 'Name', 'Category']

In [9]:
df1.columns

Index(['Cancer_id', 'Name', 'Category'], dtype='object')

In [10]:
df2 = pd.read_csv('../input/Cancer_Occurrence.csv')
df2.head()

   Cancer_id State_name                         Race_name  Count
0      20010    Alabama  American Indian or Alaska Native      0
1      20010    Alabama         Asian or Pacific Islander      0
2      20010    Alabama                             White     55
3      20010    Alabama  Other Races and Unknown combined      0
4      20010     Alaska  American Indian or Alaska Native      0

In [11]:
df3 = pd.read_csv('../input/State.csv')
df3.head()

,Name,Percentage population below poverty,Percentage population insured,Population,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Alabama,18.4,89.2,4874747.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,10.1,84.5,739795.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona,17.7,88.1,7016270.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas,18.8,90.6,3004279.0,NaN,NaN,NaN,NaN,NaN,NaN
4,California,15.8,91.6,39536653.0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df3.columns = ['State_name', 'Percentage population below poverty',
       'Percentage population insured', 'Population', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']

In [13]:
df3.columns

Index(['State_name', 'Percentage population below poverty',
       'Percentage population insured', 'Population', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [14]:
merged_data = df1.merge(df2,on=["Cancer_id"])
merged_data.head()

,Cancer_id,Name,Category,State_name,Race_name,Count
0,20010,Lip,Oral Cavity and Pharynx,Alabama,American Indian or Alaska Native,0
1,20010,Lip,Oral Cavity and Pharynx,Alabama,Asian or Pacific Islander,0
2,20010,Lip,Oral Cavity and Pharynx,Alabama,White,55
3,20010,Lip,Oral Cavity and Pharynx,Alabama,Other Races and Unknown combined,0
4,20010,Lip,Oral Cavity and Pharynx,Alaska,American Indian or Alaska Native,0

In [15]:
Cancer = merged_data.merge(df3, on=["State_name"])
Cancer.head()

,Cancer_id,Name,Category,State_name,Race_name,Count,Percentage population below poverty,Percentage population insured,Population,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,20010,Lip,Oral Cavity and Pharynx,Alabama,American Indian or Alaska Native,0,18.4,89.2,4874747.0,NaN,NaN,NaN,NaN,NaN,NaN
1,20010,Lip,Oral Cavity and Pharynx,Alabama,Asian or Pacific Islander,0,18.4,89.2,4874747.0,NaN,NaN,NaN,NaN,NaN,NaN
2,20010,Lip,Oral Cavity and Pharynx,Alabama,White,55,18.4,89.2,4874747.0,NaN,NaN,NaN,NaN,NaN,NaN
3,20010,Lip,Oral Cavity and Pharynx,Alabama,Other Races and Unknown combined,0,18.4,89.2,4874747.0,NaN,NaN,NaN,NaN,NaN,NaN
4,20020,Tongue,Oral Cavity and Pharynx,Alabama,American Indian or Alaska Native,0,18.4,89.2,4874747.0,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
Cancer.drop(['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'], axis=1, inplace=True)

In [17]:
Cancer.head()

,Cancer_id,Name,Category,State_name,Race_name,Count,Percentage population below poverty,Percentage population insured,Population
0,20010,Lip,Oral Cavity and Pharynx,Alabama,American Indian or Alaska Native,0,18.4,89.2,4874747.0
1,20010,Lip,Oral Cavity and Pharynx,Alabama,Asian or Pacific Islander,0,18.4,89.2,4874747.0
2,20010,Lip,Oral Cavity and Pharynx,Alabama,White,55,18.4,89.2,4874747.0
3,20010,Lip,Oral Cavity and Pharynx,Alabama,Other Races and Unknown combined,0,18.4,89.2,4874747.0
4,20020,Tongue,Oral Cavity and Pharynx,Alabama,American Indian or Alaska Native,0,18.4,89.2,4874747.0

In [18]:
Cancer.tail()

,Cancer_id,Name,Category,State_name,Race_name,Count,Percentage population below poverty,Percentage population insured,Population
9914,36020,Kaposi Sarcoma,Kaposi Sarcoma,Wyoming,White,0,11.6,86.6,579315.0
9915,36020,Kaposi Sarcoma,Kaposi Sarcoma,Wyoming,Other Races and Unknown combined,0,11.6,86.6,579315.0
9916,37000,Miscellaneous,Miscellaneous,Wyoming,Asian or Pacific Islander,0,11.6,86.6,579315.0
9917,37000,Miscellaneous,Miscellaneous,Wyoming,White,95,11.6,86.6,579315.0
9918,37000,Miscellaneous,Miscellaneous,Wyoming,Other Races and Unknown combined,0,11.6,86.6,579315.0

In [19]:
len(Cancer)
Cancer.shape
# (9919 rows, 9 columns)

(9919, 9)

In [20]:
Cancer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9919 entries, 0 to 9918
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Cancer_id                            9919 non-null   int64
 1   Name                                 9919 non-null   object
 2   Category                             9919 non-null   object
 3   State_name                           9919 non-null   object
 4   Race_name                            9919 non-null   object
 5   Count                                9919 non-null   int64
 6   Percentage population below poverty  9919 non-null   float64
 7   Percentage population insured        9919 non-null   float64
 8   Population                           9919 non-null   float64
dtypes: float64(3), int64(2), object(4)
memory usage: 774.9+ KB

In [24]:
Cancer.Category.unique()

array(['Oral Cavity and Pharynx', 'Digestive System',
       'Respiratory System', 'Bones and Joints',
       'Soft Tissue including Heart', 'Skin excluding Basal and Squamous',
       'Male and Female Breast', 'Female Genital System',
       'Male Genital System', 'Urinary System', 'Eye and Orbit',
       'Brain and Other Nervous System', 'Endocrine System', 'Lymphomas',
       'Myeloma', 'Leukemias', 'Mesothelioma', 'Kaposi Sarcoma',
       'Miscellaneous'], dtype=object)

In [27]:
Cancer.State_name.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [25]:
Cancer.describe()

,Cancer_id,Count,Percentage population below poverty,Percentage population insured,Population
count,9919.000000,9919.000000,9919.000000,9919.000000,9.919000e+03
mean,25978.705313,161.823873,14.518661,90.768132,6.321165e+06
std,5306.679860,725.295325,3.098686,3.417689,7.432466e+06
min,20010.000000,0.000000,8.500000,81.400000,5.793150e+05
25%,21071.000000,0.000000,11.700000,88.200000,1.427538e+06
50%,26001.000000,0.000000,14.900000,90.600000,4.142776e+06
75%,29040.000000,56.000000,16.800000,93.300000,7.016270e+06
max,37000.000000,20662.000000,22.300000,97.000000,3.953665e+07

In [33]:
Cancer.to_excel('C:/Users/music/Desktop/CancerCombinedFile.xlsx', sheet_name='CancerCombinedFile', index = False)

In [31]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\music\anaconda3\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in c:\users\music\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.